@import "base.css";
.kx_top_bg{
    width: 100%;
    height: 5.84rem;
    padding-right: .24rem;
    padding-right: .24rem;
    box-sizing: border-box;
    position: relative;
    background: url("../images/kx_images/kx_2.png") no-repeat center center/cover;
}
.kx_top_bg span:nth-child(1){
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: .24rem;
    bottom: 1rem;
    -webkit-border-radius: 50%;
    background: url("../images/kx_images/kx_3.png") no-repeat center center/cover;
}
.kx_top_bg span:nth-child(2){
    font-size: .24rem;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    left: 1.6rem;
    bottom: 1.4rem;
}
.kx_top_bg span:nth-child(3){
    font-size: .16rem;
    color: #ffffff;
    position: absolute;
    left: 1.6rem;
    bottom: 1.1rem;
}
.kx_top_bg span:nth-child(4){
    background: url("../images/kx_images/kx_4.png") no-repeat center center/cover;
    width: .53rem;
    height: .38rem;
    display: inline-block;
    position: absolute;
    bottom: 1.11rem;
    right: .74rem;
}
.kx_top_bg span:nth-child(5){
    background: url("../images/kx_images/kx_5.png") no-repeat center center/cover;
    width: .38rem;
    height: .34rem;
    display: inline-block;
    position: absolute;
    right: .24rem;
    bottom: 1.11rem;
}
.kx_middle_bg{
    width: 100%;
    height: 15rem;
    background-color: #85675D;
    position: relative;
}
.kx_middle_bg .middle_show{
    width:94%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #F0F0F0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    top:-.78rem;
    padding-left: .1rem;
    padding-right: .1rem;
    box-sizing: border-box;
    text-align: center;
    padding-top: .4rem;
}
.kx_middle_bg .middle_show >span:nth-child(1){
    background: url("../images/kx_images/kx_6.png") no-repeat center center/cover;
    width: 2.41rem;
    height: .92rem;
    display: inline-block;
}
.middle_show .kx_album{
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    height: .73rem;
    line-height: .35rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.kx_album span:nth-child(1){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_album span:nth-child(2){
    font-size: .24rem;
    color: #767676;
}
.kx_album span:nth-child(3){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_album span:nth-child(4){
    font-size: .24rem;
    color: #767676;
}
.middle_show .kx_language{
    border-bottom: 1px solid #BBBBBB;
    height: .73rem;
    width: 100%;
    line-height: .35rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .18rem;
}
.kx_language span:nth-child(1){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_language span:nth-child(2){
    font-size: .24rem;
    color: #767676;
}
.kx_language span:nth-child(3){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_language span:nth-child(4){
    font-size: .24rem;
    color: #767676;
}
.kx_details span{
    font-size: .24rem;
    color: #656565;
    display: block;
    text-align: left;
}
.kx_details .kx_open{
    background: url("../images/kx_images/kx_7.png") no-repeat center center/cover;
    display:block;
    width: .55rem;
    height: .2rem;
    float: right;
}
.relative_album span:nth-child(1){
    font-size: .24rem;
    color: #EE686B;
    display: block;
    margin: .4rem auto;
}
.kx_swipper{
    width: 100%;
    height:1.2rem ;
}
.kx_inner{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 10px ;
    -webkit-border-radius: 10px;
    margin-right: .24rem;
}
.kx_inner img{
    width: 100%;
    height: 100%;
}
.relative_album span:nth-child(3){
    font-size: .24rem;
    color: #EE6D6F;
    font-weight: bold;
    display: block;
    margin: .3rem auto;
}
.relative_album span:nth-child(4){
    background: url("../images/kx_images/kx_12.png") no-repeat center center/cover;
    width: 100%;
    height: .02rem;
    display: block;
}
.kx_judge span:nth-child(1){
    background: url("../images/kx_images/kx_13.png") no-repeat center center/cover;
    width: 1.27rem;
    height: .91rem;
    display: inline-block;
}
.kx_little_judge{
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    border-top: 1px solid #B5B5B5;
    border-bottom: 1px solid #B5B5B5;
}
.kx_little_judge p{
    font-size: .24rem;
    text-align: left;
    color: #4B4B4B;
}
.kx_judge .kx_pin{
    width: 100%;
    height: 2.64rem;
    border-bottom: 1px solid #B5B5B5;
}
