@import "base.css";
.kx_top_bg{
    width: 100%;
    height: 5.84rem;
    padding-right: .24rem;
    padding-right: .24rem;
    box-sizing: border-box;
    position: relative;
    background: url("../images/kx_images/kx_2.png") no-repeat center center/cover;
}
.kx_top_bg span:nth-child(1){
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: .24rem;
    bottom: 1rem;
    -webkit-border-radius: 50%;
    background: url("../images/kx_images/kx_3.png") no-repeat center center/cover;
}
.kx_top_bg span:nth-child(2){
    font-size: .24rem;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    left: 1.6rem;
    bottom: 1.4rem;
}
.kx_top_bg span:nth-child(3){
    font-size: .16rem;
    color: #ffffff;
    position: absolute;
    left: 1.6rem;
    bottom: 1.1rem;
}
.kx_top_bg span:nth-child(4){
    background: url("../images/kx_images/kx_4.png") no-repeat center center/cover;
    width: .53rem;
    height: .38rem;
    display: inline-block;
    position: absolute;
    bottom: 1.11rem;
    right: .74rem;
}
.kx_top_bg span:nth-child(5){
    background: url("../images/kx_images/kx_5.png") no-repeat center center/cover;
    width: .38rem;
    height: .34rem;
    display: inline-block;
    position: absolute;
    right: .24rem;
    bottom: 1.11rem;
}
.kx_middle_bg{
    width: 100%;
    height: 25rem;
    background-color: #85675D;
    position: relative;
}
.kx_middle_bg .middle_show{
    width:94%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #F0F0F0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    top:-.78rem;
    padding-left: .1rem;
    padding-right: .1rem;
    box-sizing: border-box;
    text-align: center;
    padding-top: .4rem;
}
.kx_middle_bg .middle_show >span:nth-child(1){
    background: url("../images/kx_images/kx_6.png") no-repeat center center/cover;
    width: 2.41rem;
    height: .92rem;
    display: inline-block;
}
.middle_show .kx_album{
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    height: .73rem;
    line-height: .35rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.kx_album span:nth-child(1){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_album span:nth-child(2){
    font-size: .24rem;
    color: #767676;
}
.kx_album span:nth-child(3){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_album span:nth-child(4){
    font-size: .24rem;
    color: #767676;
}
.middle_show .kx_language{
    border-bottom: 1px solid #BBBBBB;
    height: .73rem;
    width: 100%;
    line-height: .35rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .18rem;
}
.kx_language span:nth-child(1){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_language span:nth-child(2){
    font-size: .24rem;
    color: #767676;
}
.kx_language span:nth-child(3){
    font-size: .24rem;
    font-weight: bold;
    color: #767676;
}
.kx_language span:nth-child(4){
    font-size: .24rem;
    color: #767676;
}
.kx_details span{
    font-size: .24rem;
    color: #656565;
    display: block;
    text-align: left;
}
.kx_details .kx_open{
    background: url("../images/kx_images/kx_7.png") no-repeat center center/cover;
    display:block;
    width: .55rem;
    height: .2rem;
    float: right;
}
.relative_album span:nth-child(1){
    font-size: .24rem;
    color: #EE686B;
    display: block;
    margin: .4rem auto;
}
.kx_swipper{
    width: 100%;
    height:1.2rem ;
}
.kx_inner{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 10px ;
    -webkit-border-radius: 10px;
    margin-right: .24rem;
}
.kx_inner img{
    width: 100%;
    height: 100%;
}
.relative_album span:nth-child(3){
    font-size: .24rem;
    color: #EE6D6F;
    font-weight: bold;
    display: block;
    margin: .3rem auto;
}
.relative_album span:nth-child(4){
    background: url("../images/kx_images/kx_12.png") no-repeat center center/cover;
    width: 100%;
    height: .02rem;
    display: block;
}
.kx_judge >span:nth-child(1){
    background: url("../images/kx_images/kx_13.png") no-repeat center center/cover;
    width: 1.27rem;
    height: .91rem;
    display: inline-block;
}
.kx_little_judge{
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    border-top: 1px solid #B5B5B5;
    border-bottom: 1px solid #B5B5B5;
}
.kx_little_judge p{
    font-size: .24rem;
    text-align: left;
    color: #4B4B4B;
}
.kx_judge .kx_pin{
    width: 100%;
    height: 2.64rem;
    padding-top: .2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #B5B5B5;
    position: relative;
}
.kx_judge .kx_pin >span:nth-child(1){
    background: url("../images/kx_images/kx_14.png") no-repeat center center/cover;
    width: 1.03rem;
    height: 1.03rem;
    position: absolute;
    left: 0;
}
.kx_judge .kx_pin >span:nth-child(2){
    font-size: .24rem;
    display: block;
    position: absolute;
    left: 1.2rem;
    color: #565656;
}
.kx_judge .kx_pin .kx_star{
    background: url("../images/kx_images/kx_16.png") no-repeat center center/cover;
    display: inline-block;
    width: 1.69rem;
    height: .2rem;
    position: absolute;
    left: 1.2rem;
    top:.5rem;
}
.kx_judge .kx_pin >span:nth-child(4){
    font-size: .24rem;
    display: block;
    color: #9E9E9E;
    position: absolute;
    width: 84%;
    text-align: left;
    top:.8rem;
    left: 1.2rem;
}
.kx_judge .kx_pin >span:nth-child(5){
    font-size: .24rem;
    color: #EE686B;
    font-weight: bold;
    bottom: .2rem;
    position: absolute;
    right: 0;
}

.kx_judge .kx_pin2{
    width: 100%;
    height: 2.64rem;
    padding-top: .2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #B5B5B5;
    position: relative;
}
.kx_judge .kx_pin2 >span:nth-child(1){
    background: url("../images/kx_images/kx_17.png") no-repeat center center/cover;
    width: 1.03rem;
    height: 1.03rem;
    position: absolute;
    left: 0;
}
.kx_judge .kx_pin2 >span:nth-child(2){
    font-size: .24rem;
    display: block;
    position: absolute;
    left: 1.2rem;
    color: #565656;
}
.kx_judge .kx_pin2 .kx_star{
    background: url("../images/kx_images/kx_16.png") no-repeat center center/cover;
    display: inline-block;
    width: 1.69rem;
    height: .2rem;
    position: absolute;
    left: 1.2rem;
    top:.5rem;
}
.kx_judge .kx_pin2 >span:nth-child(4){
    font-size: .24rem;
    display: block;
    color: #9E9E9E;
    position: absolute;
    width: 84%;
    text-align: left;
    top:.8rem;
    left: 1.2rem;
}
.kx_judge .kx_pin2 >span:nth-child(5){
    font-size: .24rem;
    color: #EE686B;
    font-weight: bold;
    bottom: .4rem;
    position: absolute;
    right: 0;
}
.kx_pin2 .kx_see_more{
    font-size: .24rem;
    bottom: .2rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #4EE9E3;
}
.kx_judge_hot{
    width: 100%;
    height: .67rem;
    line-height: .67rem;
    border-bottom: 1px solid #B8B8B8;
}
.kx_judge_hot p{
    font-size: .24rem;
    text-align: left;
    color: #4B4B4B;
}

.kx_pin3{
    width: 100%;
    height: 2.87rem;
    padding-top: .2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #B5B5B5;
    position: relative;
}
.kx_pin3 >span:nth-child(1){
    background: url("../images/kx_images/kx_18.png") no-repeat center center/cover;
    width: 1.03rem;
    height: 1.03rem;
    position: absolute;
    left: 0;
}
.kx_pin3 >span:nth-child(2){
    font-size: .24rem;
    display: block;
    position: absolute;
    left: 1.2rem;
    color: #565656;
}
.kx_pin3 .kx_star{
    background: url("../images/kx_images/kx_16.png") no-repeat center center/cover;
    display: inline-block;
    width: 1.69rem;
    height: .2rem;
    position: absolute;
    left: 1.2rem;
    top:.5rem;
}
.kx_pin3 >span:nth-child(4){
    font-size: .24rem;
    display: block;
    color: #9E9E9E;
    position: absolute;
    width: 84%;
    text-align: left;
    top:.8rem;
    left: 1.2rem;
}
.kx_pin3 .kx_see_more{
    background: url("../images/kx_images/kx_19.png") no-repeat center center/cover;
    width: 1.16rem;
    height: .17rem;
    bottom: .4rem;
    position: absolute;
    left: 1.2rem;
}
.kx_pin3 >span:nth-child(5){
    background: url("../images/kx_images/kx_20.png") no-repeat center center/cover;
    width: .45rem;
    height: .38rem;
    bottom: .4rem;
    position: absolute;
    right: .6rem;
}
.kx_pin3 >span:nth-child(6){
    background: url("../images/kx_images/kx_21.png") no-repeat center center/cover;
    width: .38rem;
    height: .34rem;
    bottom: .4rem;
    position: absolute;
    right: 0;
}

.kx_pin4{
    width: 100%;
    height: 2.87rem;
    padding-top: .2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #B5B5B5;
    position: relative;
}
.kx_pin4 >span:nth-child(1){
    background: url("../images/kx_images/kx_22.png") no-repeat center center/cover;
    width: 1.03rem;
    height: 1.03rem;
    position: absolute;
    left: 0;
}
.kx_pin4 >span:nth-child(2){
    font-size: .24rem;
    display: block;
    position: absolute;
    left: 1.2rem;
    color: #565656;
}
.kx_pin4 .kx_star{
    background: url("../images/kx_images/kx_16.png") no-repeat center center/cover;
    display: inline-block;
    width: 1.69rem;
    height: .2rem;
    position: absolute;
    left: 1.2rem;
    top:.5rem;
}
.kx_pin4 >span:nth-child(4){
    font-size: .24rem;
    display: block;
    color: #9E9E9E;
    position: absolute;
    width: 84%;
    text-align: left;
    top:.8rem;
    left: 1.2rem;
}
.kx_pin4 .kx_see_more{
    background: url("../images/kx_images/kx_19.png") no-repeat center center/cover;
    width: 1.16rem;
    height: .17rem;
    bottom: .8rem;
    position: absolute;
    left: 1.2rem;
}
.kx_pin4 >span:nth-child(5){
    background: url("../images/kx_images/kx_20.png") no-repeat center center/cover;
    width: .45rem;
    height: .38rem;
    bottom: .8rem;
    position: absolute;
    right: .6rem;
}
.kx_pin4 >span:nth-child(6){
    background: url("../images/kx_images/kx_21.png") no-repeat center center/cover;
    width: .38rem;
    height: .34rem;
    bottom: .8rem;
    position: absolute;
    right: 0;
}
.kx_pin4 .kx_down{
    font-size: .24rem;
    color: #78EAE6;
    position: absolute;
    bottom: .3rem;
    left: 0;
    right: 0;
    margin: auto;
}
.kx_send{
    width: 100%;
    height: 2.73rem;
}
.kx_send .kx_sent_text{
    width: 6.2rem;
    height: .7rem;
    border-radius: 10px;
    border: 0;
    -webkit-border-radius: 10px;
}
.kx_send span:nth-child(2){
    background: url("../images/kx_images/kx_23.png") no-repeat center center/cover;
    display: block;
    width: 1.9rem;
    position: absolute;
    left: .3rem;
    bottom: .5rem;
    height: .39rem;
}
.kx_send span:nth-child(3){
    font-size: .24rem;
    position: absolute;
    display: block;
    left: 2.5rem;
    bottom: .55rem;
    color: #A3A3A3;
}
.kx_send span:nth-child(4){
    background: url("../images/kx_images/kx_24.png") no-repeat center center/cover;
    display: block;
    width: .68rem;
    height: .68rem;
    position: absolute;
    bottom: .4rem;
    right:1.9rem;
}
.kx_sent_submit{
    width: 1.37rem;
    height: .66rem;
    background-color: #EE686B;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    bottom: .4rem;
    right: .35rem;
    box-shadow: 0 0 0 1px #EFC0C1;
    color: #ffffff;
    font-size: .24rem;
}