html,body{
	height: 100%;
}
body{
	display: flex;
	flex-direction:column;
	font-size: 16px;
}
.main-body{
	flex-grow:1;
	flex-shrink:1;
	overflow: auto;
}
.header{
	flex-grow:0;
	flex-shrink:0;
	height: 0.88rem;
	background: #3F313E;
}
.footer{
	flex-grow:0;
	flex-shrink:0;
	height: 0.98rem;
	background: #42333F;
}