body {
  background: url(../../images/cn/background.png) no-repeat 0 0 / cover;
}
.tn-head {
  width: 100%;
  padding: 0 0.25rem;
  height: .88rem;
}
.tn-head .tn-headbox {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tn-head .tn-headbox .tn-t1,
.tn-head .tn-headbox .tn-t3 {
  width: 0.32rem;
  height: 1px;
  background: #fff;
  position: absolute;
  top: -1px;
}
.tn-head .tn-headbox .tn-t1 {
  left: 0.87rem;
}
.tn-head .tn-headbox .tn-t3 {
  right: 0.87rem;
}
.tn-head .tn-headbox .tn-t2 {
  width: 0.98rem;
  height: 1px;
  background: #fff;
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -0.49rem;
}
.tn-head .tn-headbox a {
  font-size: 18px;
  font-weight: bold;
  color: #DDDDDD;
}
.center {
  padding: 0 .21rem;
}
.center .jindubox {
  width: 4rem;
  margin: 0 auto;
}
.center .jindubox img {
  display: block;
  margin: 0 auto;
  width: 3.72rem;
  height: .57rem;
}
.center .jindubox .zi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: .05rem;
}
.center .jindubox .zi span {
  font-size: 12px;
  color: #FFFFFF;
}
.center .logo {
  width: 100%;
  text-align: center;
  font-size: 0;
  position: relative;
  z-index: 1;
}
.center .logo img {
  width: 1.23rem;
  height: 1.23rem;
}
.center .tuijianbox {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: .15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 .16rem 1.3rem .16rem;
  margin-top: -0.4rem;
  position: relative;
}
.center .tuijianbox .topbox {
  width: 100%;
  margin: .27rem 0 0rem 0;
}
.center .tuijianbox .topbox img {
  display: block;
  width: 2.44rem;
  height: .93rem;
  margin: 0 auto;
}
.center .tuijianbox .datu {
  width: 100%;
  font-size: 0%;
  text-align: center;
  padding-top: .7rem;
  margin-bottom: .5rem;
}
.center .tuijianbox .datu img {
  width: 4.59rem;
  height: 3.98rem;
}
.center .tuijianbox .hanzi,
.center .tuijianbox .yingwen {
  width: 100%;
  font-size: 10px;
  color: #535353;
  text-align: center;
}
.center .tuijianbox .anniu {
  width: 100%;
  position: absolute;
  bottom: .14rem;
  left: 0;
}
.center .tuijianbox .anniu a {
  display: block;
  width: 4.79rem;
  height: .9rem;
  margin: 0 auto;
}
.center .tuijianbox .anniu a #ok {
  width: 4.79rem;
  height: .9rem;
}
.center .tuijianbox .xia {
  bottom: -0.95rem;
}
