html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../../images/cmj/chun-bj.png)no-repeat center center/cover;
	font-family: "微软雅黑";

}
.chuan{
	width: 100%;
	height: auto;
}
.chuan-1{
	width: 5.35rem;
	height: 1.51rem;
    margin: 0 auto;
    background: url(../../images/cmj/chuan.png)no-repeat center center/cover;
    margin-top: 1.05rem;
}
.buzou{
	width: 5.35rem;
	height: 1.23rem;
	margin: 0 auto;
	text-align: center;
	font-size: 0.36rem;
	padding-top: 0.87rem;
	color: #fff;
	font-weight: bold;
}
.buzou-1{
	width:5.35rem;
	height: 1.25rem;
	margin: 0 auto;
	margin-top: 0.55rem;
	padding-left: 0.8rem;
}
.sys{
	width: 5.35rem;
	height: 1rem;
	margin:0 auto;
	margin-top: 1.03rem;
	text-align: center;
	line-height: 1rem;
	font-size: 0.36rem;
	color: #fff;
	font-weight: bold;
}
.sm{
	width: 5.35rem;
	height: 2.68rem;
	margin: 0 auto;
}
.sm-1{
	width: 2.68rem;
	height: 2.68rem;
	margin: 0 auto;
	background: url(../../images/cmj/4.png)no-repeat center center/cover;
}
.wt-1{
	width: 100%;
	height: 50%;
}
.wt-2{
	width: 100%;
	height: 50%;
}
.wt-1 p{
	display: block;
	width: auto;
	height: 100%;
    font-size: 0.24rem;
    color: #fff;
    float: left;
}
.wt-2 p{
	display: block;
	width: auto;
	height: 100%;
    font-size: 0.24rem;
    color: #fff;
    float: left;
}
.dian{
	width: 0.22rem;
	height: 0.22rem;
	float: left;
	border-radius: 50%;
	background: #FF2B5D;
	margin-top: 0.06rem;
	margin-right: 0.3rem;
}